projeto_estoque-farmacia_xml/xsds/consumo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="consumos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="item" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="prescricao" type="xs:integer"/>
                            <xs:element name="cpf" type="xs:integer"/>
                            <xs:element name="codigo_medicamento" type="xs:integer"/>
                            <xs:element name="quantidade" type="xs:decimal"/>
                            <xs:element name="unidade">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="CAIXA"/>
                                        <xs:enumeration value="AMPOLA"/>
                                        <xs:enumeration value="FRASCO"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="preco_total" type="xs:decimal"/>
                            <xs:element name="data_uso">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:totalDigits value="6"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="assinatura">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="hash" type="xs:string"/>
                            <xs:element name="timestamp" type="xs:dateTime"/>
                            <xs:element name="grupo_origem" type="xs:string"/>
                            <xs:element name="algoritmo" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>